.miDivision{
    border:black solid 5px;
    border-radius: 3px;
    background-color: gray;
    width: 260px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
}
.inputText
{
   
   border:white solid 2px;
   background-color: yellowgreen;
   margin:10px;
   width: 100px;
}
.Mybutton
{
   text-align: center;
   margin: 15px 25px;
   border:black solid 2px;
   border-radius: 3px;
   background-color: white;
   width: 60px;
   height: 40px;
   font-size: 20px;
}
.cleanbutton{
   border: black solid 2px;
   border-radius: 3px;
   background-color: #d02b32;
   width: 200px;
   height: 40px;
   font-size: 20px;
}
#resultado
{
   border:black solid 5px;
   border-radius:3px ;background-color: grey;
   font-size: 30px;
   font-family:Arial, Helvetica, sans-serif;
   width: 260px;
   height: 40px;
   margin: 0 auto;
}
#encabezado{
   text-align: center;
   color:black solid ;
   font-size: 36px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}